#root {
  height: 100%;
}
.App {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 12fr 1fr;
  overflow: hidden;
}

.Script {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: black;
  text-align: center;
}

.Footer {
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: blue;
  text-align: center;
}

.Header {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: orange;
  text-align: center;
}

.Parameters {
  grid-column: 2;
  grid-row: 2;
  background-color: green;

}


